<a href="https://colab.research.google.com/github/MishraAbhishek1/Python-Series/blob/main/PythonSeries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ðŸ”¹ 1. Variables and Data Types (5 Programs)

In [ ]:
# 1. Store daily expenses
food = 150
transport = 50
shopping = 200
print(f"Total expenses: {food + transport + shopping}")

Total expenses: 400

In [ ]:
# 2. Temperature conversion (Celsius to Fahrenheit)
celsius = 25
fahrenheit = (celsius * 9/5) + 32
print(f"Fahrenheit: {fahrenheit}")

Fahrenheit: 77.0

In [ ]:
# 3. Student info
name = "jhon"
age = 20
cgpa = 8.4
print(f"Name: {name}, Age: {age}, Cgpa: {cgpa}")

Name: jhon, Age: 20, Cgpa: 8.4

In [ ]:
# 4. Checking data types
salary = 35000
print(f"Salary Type: {type(salary)}")
print(f"Name Type: {type(name)}")

Salary Type: <class 'int'>
Name Type: <class 'str'>

In [ ]:
# 5. Simple interest calculator
p = 1000
r = 5
t = 2
si = (p * r * t)/100
print("Simple Interest:", si)

Simple Interest: 100.0

ðŸ”¹ 2. Operators (5 Programs)

In [ ]:
# 1. Compare discounts
amazon = 1200
flipkart = 1100
print(f"Amazon is Cheaper?: {flipkart > amazon}")

# 2. Logical operator
age = 20
has_id = True
print("Eligible for voting?", age >= 18 and has_id )

# 3. Arithmetic operator
a, b = 15, 4
print(f"Sum: {a+b}, Division: {a/b}, Power: {a**b}")

# 4. Modulus (find remainder)
chocolates = 25
friends = 4
print(f"Leftover chocolates: {chocolates % friends}")

# 4. Modulus (find remainder)
x = 10
x += 5
x *= 2
print(f"Final Value: {x}")

Amazon is Cheaper?: False
Eligible for voting? True
Sum: 19, Division: 3.75, Power: 50625
Leftover chocolates: 1
Final Value: 30

ðŸ”¹ 3. Conditional Statements (5 Programs)

In [ ]:
# 1. Ticket price
age = 16
if age >= 18:
  print("Ticket Price: 150 INR")
else:
  print("Ticket Price: 200 INR")

Ticket Price: 200 INR

In [ ]:
# 2. Grade system
marks = 82
if marks >= 90:
  print("Grade A")
elif marks >= 75:
  print("Grade B")
else:
  print("Grade C")

Grade B

In [ ]:
# 3. Odd or Even
num = 7
if num % 2 == 0:
  print("Even")
else:
  print("Odd")

Odd

In [ ]:
# 4. Max of three numbers
a, b, c = 10, 20, 30
if a > b and a > c:
  print("Max:", a)
elif b > c:
  print("Max:", b)
else:
  print("Max:", c)

Max: 30

In [ ]:
# 5. ATM withdrawal
balance = 5000
withdraw = 2000
if withdraw <= balance:
  balance -= withdraw
  print(f"Remaining Balance: {balance}")
else:
  print("Insufficient balance!")

Remaining Balance: 3000

ðŸ”¹ 4. Loops (5 Programs)

In [ ]:
# 1. Print 1 to 10
for i in range(1, 11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# 2. Sum of first 10 numbers
total = 0
for i in range(1, 11):
  total += i
print("sum:", total)

sum: 55

In [ ]:
# 3. Multiplication table
num = 5
for i in range(1, 11):
  print(num, "x", i, "=", num*i)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
# 4. Countdown
n = 5
while n > 0:
  print(n)
  n -= 1

5
4
3
2
1

In [ ]:
# 5. Factorial
n = 5
fact = 1
for i in range(1, n+1):
  fact *= i
print(f'Factorial:', fact)

Factorial: 120

ðŸ”¹ 5. Functions (5 Programs)

In [ ]:
# 1. Greet user
def greet(name):
  print("Hello", name)
greet("Abhihsek")

Hello Abhihsek

In [ ]:
# 2. Square of a number
def square(n):
  return n*n

print("Square:", square(5))

Square: 25

In [ ]:
# 3. Check prime number
def is_prime(n):
  if n < 2:
    return False
  for i in range(2, int(n**0.5)+1):
    if n % i == 0:
      return False
  return True

print("Is 17 prime?", is_prime(17))

Is 17 prime? True

In [ ]:
# 4. Add two numbers
def add(a, b):
  return a+b

print("Sum:", add(10, 20))

Sum: 30

In [ ]:
# 5. BMI calculator
def bmi(weight, height):
  return weight / (height**2)
print("BMI:", bmi(60, 1.7))

BMI: 20.761245674740486

ðŸŽ¯ Basic Pattern Programs (Easy Level - Level 1)

1ï¸âƒ£ Pattern 1 â€“ Square of Stars# New Section

In [ ]:
#outer loop run for a row
for i in range(6):
  for j in range(6):
    print("*", end=' ')
  print()

* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *

In [ ]:
for i in range(1, 6):
    for j in range(i):
         print("*", end="")
    print()

*
**
***
****
*****

In [ ]:
for i in range(1, 6):
    for j in range(1, i+1):
        print(j, end="")
    print()

1
12
123
1234
12345

In [ ]:
for i in range(1, 6):
    for j in range(i):
         print(i, end="")
    print()

1
22
333
4444
55555

In [3]:
# right angled pattern
for i in range(6):
  for j in range(i):
    print("*", end=" ")
  print()

*
* *
* * *
* * * *
* * * * *

In [6]:
# Right angled number pattern
for i in range(1,6):

  for j in range(1, i+1):
    print(j, end=" ")
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5